body{
    background-color: rgb(255, 244, 248);
    font-size: x-large;
}
h1{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
select{
    color: black;
    background-color: rgb(236, 138, 243);
}
#kau{
    color:black
}
.asd{
    background-color: rgb(253, 150, 150);
}
span{font-size: small;
    
}
